@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* Header Animation */
header h1 {
    font-family: 'Roboto', sans-serif;
    animation: headerAnimation 3s infinite;
    color: #140d5e;
}

@keyframes headerAnimation {
    0% { transform: scale(1); color: rgb(174, 91, 181); }
    50% { transform: scale(1.1); color: rgb(152, 103, 200); }
    100% { transform: scale(1); color: rgba(104, 101, 205, 0.89); }
}


/* General body styling */
body {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: url('../img/Banner.png') no-repeat center center fixed;
    background-size: cover;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
    background-color: rgba(252, 235, 253, 0.94);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

#headerImage {
    max-width: 10%;
    height: auto;
    border-radius: 4px;
}
nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
nav {
    margin-top: 10px ;
}
nav a {
    text-decoration: none;
    padding: 10px 10px;
    color: #290d73;
    transition: background-color 0.2s;

}

nav a:hover {
    background-color: rgba(235, 198, 243, 0.52);
    color: #2b069e;
}
/* Main content styling */
input{
    border-radius: 2px;
    color: #140d5e;
    background-color: #fffdfe;
}
input[type="submit"] {
    background-color: rgba(211, 166, 253, 0.78); /* Change to your desired color */
    color: #140d5d; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Change color on hover */
input[type="submit"]:hover {
    background-color: rgba(149, 71, 237, 0.52);
}
main {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(252, 235, 253, 0.93);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #554e68;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(254, 241, 255, 0.94);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 0.9em;
    color: #453e59;
}

/* Input Section Styling */
.input {
    text-align: center;
    margin-bottom: 20px;
}

.input label {
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
    color: #014a45;
    font-weight: bold;
}
